main {
    background-color: #fafafa;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 15;
}
.navbar {
    background-color: #ffffff !important;
}

.nav_btn {
    padding: 0 !important;
    max-width: 50px;
}

.nav_utils {
    width: -webkit-fill-available;
    height: 45px !important;
}

.search {
    max-width: 180px;
}

.fas, .far {
  font-size: 22px;
  padding-top: 2px;
}

.fa-user {
  color:black;
}

.nav-link:hover {
    cursor: pointer;
}

#nav_dropdown {
    box-shadow: 0px 0px 5px 1px #f0f0f0;
    margin-top: 10px;
    margin-left: -120px;
    padding: 0px;
}

.dropdown-item:hover {
    cursor: pointer;
}