body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 #root {
   background-color: #fafafa;
 }

 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.post_profile_pic{
  max-width: 40px;
  height: 20px;
}

.post{
  max-width: 598px;
}


#profile_pic_min{
  max-width: 40px;
  height: 20px;
}

.post_ctr{
  max-width: 600px;
}

.card{
  max-width: 600px;
  margin: 25px 250px 0px 250px;
}

.card-header {
  margin: auto 0;
  background-color: #ffffff;
}

.card-footer{
  border-top: 0px !important;
  background-color: #ffffff;
}

.username {
  color: black;
}

.like_ctr, .comment_ctr, .share_ctr {
  margin-left: 15px;
  margin-bottom: 5px;
}

.footer2 {
  border-top: 1px solid #dbdbdb !important;
}
.card-body {
  padding: 0 !important;
}
.fas, .far {
  font-size: 22px;
  padding-top: 2px;
}

.fa-user {
  color:black;
}
