#root {
    background-color: #fafafa;
    margin: 25px 250px 0px 250px;
}
.modal-content{
    border-radius: 20px !important;
}

.modal-header {
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
.modal-body {
    text-align: center;
    font-weight: bold;
}
.modal-footer{
    justify-content: center;
}

#upload_profile_pic {
    text-align: center;
    cursor: pointer;
 }
/*#profile-pic-upload-btn {*/
/*    position: relative;*/
/*    position: relative;*/
/*    right: 50px;*/
/*    width: 90px;*/
/*    opacity: 0;*/
/*}*/
.loading {
    position: relative;
    bottom: 80px;
    left: 50px;
}