{% load static %}

 <div class="modal fade" id="modal_upload" style="opacity: 1;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Upload a Post</h4>
                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading" id="isLoading" style="width: 50px">
                <button type="button" class="close" data-dismiss="modal">
                    <svg aria-label="Close" class="_8-yf5 " fill="#262626" height="24" viewBox="0 0 48 48" width="24"><path clip-rule="evenodd" d="M41.1 9.1l-15 15L41 39c.6.6.6 1.5 0 2.1s-1.5.6-2.1 0L24 26.1l-14.9 15c-.6.6-1.5.6-2.1 0-.6-.6-.6-1.5 0-2.1l14.9-15-15-15c-.6-.6-.6-1.5 0-2.1s1.5-.6 2.1 0l15 15 15-15c.6-.6 1.5-.6 2.1 0 .6.6.6 1.6 0 2.2z" fill-rule="evenodd"></path></svg>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body form">
                <div class="custom-file upload-file-ctr">
                    <input type="file" class="custom-file-input" id="post_upload" accept="image/*" required>
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                </div>
                <div class="caption-ctr form-group-sm">
                    <input class="form-control" id="caption" placeholder="Caption"></input>
                </div>
            </div>

            <div class="modal-footer">
                <a id="upload_btn" class="btn" href="#" style="background-color: #107cef; color: white">Upload</a>
                <a class="btn u-btn-gray" data-dismiss="modal">Cancel</a>
            </div>
        </div>
    </div>
</div>