<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>IG</title>
</head>
<body>
<h2>Welcome to Instagram</h2>
<form action="#">
    <div>
        <input type="text" placeholder="Username" id="username">
        <label for="username">Enter your Username</label>
    </div>
    <div>
        <input type="password" placeholder="Password" id="password">
        <label for="email">Enter your password</label>
    </div>
    <button type="button" id="login_btn">Log In</button>
    <br>
    <span>Don't have an account?
            <a href='{% url "sign_up" %}'>Sign Up</a>
        </span>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $("#login_btn").click(() => {
        console.log("here")
        let username = $("#username").val();
        let password = $("#password").val();
        if (!username || !password) {
            return;
        }
        $.ajax({
            url: "{% url 'sign_in' %}",
            method: "POST",
            data: {
                username: username,
                password: password,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
        }).done(function (data) {
            console.log("ajax")
            if (data !== 'OK') {
                alert(data)
            } else {
                console.log("here2")
                window.location.reload()
            }
        });
    });
</script>
</body>
</html>